.grid {
  height: 600px;
  width: 400px;
  background: url(../images/background.jpg);
  position: relative;
  font-size: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.doodle {
  height: 85px;
  width: auto;
  z-index: 3;
  position: absolute;
  /* background-color: tomato; */
}

.plataform {
  width: 85px;
  height: 15px;
  background-color: rgb(134, 68, 81);
  position: absolute;
  border-radius: 5px;
}

.restartBtn {
  font-size: 1rem;
  text-align: center;
  width: 7.5rem;
  height: 3rem;
  align-self: center;
  background-color: rgb(182, 45, 45);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.restartBtn:hover {
  background-color: rgb(223, 52, 52);
}
